<div class="container" fxLayout="column">
    <div class="title" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <h1>THE CODEPEN TIMES</h1>
    </div>

    <div class="aside" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
        <div class="issue">Issue #1 </div>
        <div class="date">Tuesday, 26 May, 2020</div>
        <div class="edition">Two memes Edition</div>
    </div>

    <div class="content" fxFlex="100">
        <div class="lh-content" fxFlex="80">
            <div class="heading" fxLayout="column">
                <h2>Woman spends too much time on Codepens despite advice; no plans to stop</h2>
                <div class="content" fxFlex="100">
                    <div class="paragraph" fxLayout="row" fxLayoutGap="20px" fxFlex="50">
                        <p>Sometimes, Internet users land themselves in an uncommon situation where an app or website
                            can be
                            used for both work and personal situations.
                            Well, a young front-end designer was spending up to 13 hours on the site, Codepen for work
                            and
                            her hobby, which unfortunately, is also coding.<br /><br />
                            The designer, whose work includes a To-Do Terrarium, clarified, "Well, I didn't have to use
                            it
                            for work but it was already part of my workflow. It just made sense as it was more
                            efficient.</p>
                        <p>"The biggest issue, she said, is that she would hop on Codepen for work, but would get
                            distracted
                            by pens made by others in the community for unexpectedly long periods of time, which then
                            causes
                            her to spend even more time on the site.<br /><br />
                            "I mean, that's terrible right?" she asked. The best place to
                            build, test, and discover front-end code, has declined to comment at this time.</p>
                    </div>
                    <div class="img" fxflex="40">
                        <figure><img src="../../assets/showcase-terrarium.jpg" fxLayoutGap="15px">
                            <figcaption fxLayoutGap="15px">A to-do list that grows succulents when you've completed a
                                task</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="content-1">
                <div class="cont" fxFlex="100">
                    <div class="cont-1" fxLayout="row" fxFlex="40">
                        <img src="../../assets/showcase-floorplan.jpg" height="250px" />
                    </div>
                    <div class="img-2" fxLayout="row" fxFlex="30" style="height:200px;">
                        <img src="../../assets/showcase-hogwarts.svg" width="100%" />

                    </div>
                    <div class="pasta">
                        <h4>A pasta menu</h4>
                        <p>Everybody loves pasta. It's impossible to not love them, so here are 15 recipes, served with
                            GSAP. Note the easter egg — the menu icon changes according to the pasta that you choose.
                        </p>
                    </div>
                </div>
            </div>

            <div class="content-2">
                <div class="cont1" fxFlex="100">
                    <div class="heading-1" fxLayout="column" fxFlex="40">
                        <h4>Can you get inspired to make your own floor plans?</h4>
                        <p>Making a floor Plan with CSS Grid? Talk about using the wrong tool for the job. But I guess
                            this is what happens when someone isn't happy with any of the floor plans found on
                            Pinterest;<br />
                            she'll start making her own for the eventual home that she will never own. Nevertheless,
                            there's a home office with a large window to look out of pensively during rainy days and a
                            ton of "white space" for the cats to run around.</p>
                    </div>
                    <div class="heading-2" fxLayout="column" fxFlex>
                        <h4>Marvel at a magazine</h4>
                        <p>A tribute of sorts to an era of cool superhero movies, this is a Marvel-themed magazine!
                            Recommended, because it took 45 hours, so you know some serious dedication has been poured
                            into this.</p>
                    </div>
                </div>
            </div>

            <div class="content-3">
                <div class="cont3" fxFlex="100">
                    <div class="row-1" fxLayout="column" fxLayoutGap="10px" fxFlex="25">
                        <h4>Let's adopt, don't shop.</h4>
                        <p>Explore a style guide and various page layouts for a pet adoption site in the <em>Style
                                Guide</em> collection. Inspired by the <em>Atomic Design</em> principle, this 8-pen
                            collection includes a 404 page concept, an admin dashboard and what a Twitter user calls a
                            'media card zen garden'. Each pen comes with five (yes, five) color themes, including the
                            precious dark mode.</p>
                    </div>

                    <div class="row-2" fxFlex="50">
                        <img src="../../assets/showcase-menu.jpg" alt="menu" />

                    </div>
                    <div class="row-3" fxFlex="25">
                        <img src="../../assets/showcase-toggle.gif" alt="menu" />
                    </div>
                </div>
            </div>


        </div>



        <div class="rh-content" fxFlex="20">
            <div class="v1">
                <div class="side-bar">
                    <h3>Hot this month</h3>
                    <img src="../../assets/showcase-pie.jpg" />
                    <h5>FOOD</h5>
                    <div class="side-bar1">
                        <h4>Pies for everyone!</h4>
                        <p>No man is left behind. There's infinite pie with this one div and a repeating background.</p>
                    </div>
                </div>
                <div class="side-bar2">
                    <h5>Frustrated designer runs amok with Captcha ideas</h5>
                    <p>From Tic Tac Toe to solving meme-based questions, this is a different take on how web
                        captchas should be. "I have not successfully picked out all photos of a truck on the first
                        try. Something's gotta change," says the designer, who has requested to remain anonymous.
                    </p>
                    <div class="v2"></div>

                </div>

                <div class="side-bar3">
                    <h5>Slack UI gets reverse engineered</h5>
                    <p>Another valiant effort to reverse engineer a web app. However, the UI is repurposed to showcase
                        Codepens instead of mock conversations. This is a codepen showcase inception situation.</p>
                </div>

                <div class="side-bar4">
                    <iframe src="../../assets/showcase-workout.jpg" height="500px" width="100%" scrolling="no"></iframe>
                </div>

            </div>

        </div>
    </div>
    <div class="content-4">
        <div class="cont4" fxFlex="100">
            <div class="social" fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <img src="../../assets/showcase-co-grid.jpg" alt="social">
                <p>Get your fill of more CSS Grid items in this collection. There are a total of 32 pens to date...
                    well, 33, if you count this one too. What can you expect in this collection? The hidden gems, in my
                    totally unbiased opinion, are <a href="https://codepen.io/oliviale/full/wbyVWr" target="_blank">the
                        recreation of the Pac-Man layout</a> </p>
                <p>and <a href="https://codepen.io/oliviale/pen/wbyVWr" target="_blank">coupons inspired by junk
                        mail</a>. A lot of joke items of things that shouldn't be done in CSS Grid, such as <a
                        href="https://codepen.io/oliviale/full/PXGgMG" target="_blank">a shelf</a>? <a
                        href="https://codepen.io/oliviale/full/qggOog" target="_blank">Bathroom tiles wtf</a>? and <a
                        href="https://codepen.io/oliviale/full/bOWqbj" target="_blank">makeup palettes </a>. If you are
                    a cultured person, you will have a chance to enjoy a couple of pens inspired by <a
                        href="https://codepen.io/oliviale/full/JxVZpX" target="_blank">Harry Potter </a></p>
                <p>and <a href="https://codepen.io/oliviale/full/RwNdeeQ" target="_blank">Pokemon.</a> On the rare
                    occasion that you are looking at this profile for something you can use in production, you really
                    shouldn't. But, there are <em> some </em>real-world applications, such as <a
                        href="https://codepen.io/oliviale/full/GPXozx" target="_blank">the recipe layout</a>, <a
                        href="https://codepen.io/oliviale/full/pqoEoJ" target="_blank">the product catalog</a>, and <a
                        href="https://codepen.io/oliviale/full/XyqQYL" target="_blank">color palettes for a style
                        guide</a>.</p>
            </div>
        </div>
    </div>
</div>